.contacts {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: $basic-white;
}

.contacts__wrapper {
  padding: 0 30px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding: 0 50px;
    padding-top: 40px;
  }
}

.contacts__title {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.contacts__inner {
  display: flex;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
  }
}

.contacts__text {
  min-width: 70px;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: $special-grey-dark;

  @media (min-width: $tablet-width) {
    font-size: 17px;

    &--desc {
      width: 239px;
    }
  }
}

.contacts__link {
  display: block;
  margin-bottom: auto;
  font-size: 15px;
  line-height: 30px;
  color: $special-grey-dark;
  border-bottom: 1px solid $special-green-1;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &:hover,
  &:focus {
    color: $special-green-1;
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}

.contacts__button {
  margin: 0 auto;
}

.contacts__map {
  padding-top: 30px;
}
