.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__text {
  padding-right: 27px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;

  // &:active {
  //   color: transparentize($special-dark-grey, 0.3);
  // }
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: $basic-green;
}

.copyright__img {
  outline: none;

  // &:hover,
  // &:focus {
  //   .copyright__icon {
  //     fill: $special-green;
  //   }
  // }

  // &:active {
  //   .copyright__icon {
  //     fill: transparentize($special-green, 0.3);
  //   }
  // }
}
