.form__block {
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  border: none;

  &--comment {
    padding-bottom: 17px;
  }
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-green;

  &--about {
    padding-bottom: 29px;
  }

  &--comment {
    padding-bottom: 23px;
  }
}

.form__list {
  @include list-none;

  &--type,
  &--color {
    padding-top: 35px;
  }
}

.form__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--color {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }
}

.form__name {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--about {
    padding-bottom: 22px;
  }

  &--phone,
  &--email {
    flex-direction: row;
  }
}

.form__radio,
.form__check {
  appearance: none;
}

.form__radio {
  &:hover,
  &:focus {
    & + .form__box--radio {
      border: 2px solid $special-green-1;
    }
  }

  &:disabled {
    & + .form__box--radio,
    & ~ .form__description--radio {
      opacity: 0.3;
    }
  }

  &:checked {
    & + .form__box--radio {
      background-color: $special-green-1;
      box-shadow: inset 0 0 0 10px $basic-white;

      @media (min-width: $tablet-width) {
        box-shadow: inset 0 0 0 11px $basic-white;
      }
    }

    &:hover,
    &:focus {
      & + .form__box--radio {
        border: 2px solid $special-green-1;
      }
    }

    &:disabled {
      & + .form__box--radio,
      & ~ .form__description--radio {
        opacity: 0.3;
      }
    }
  }
}

.form__check {
  &:checked {
    & + .form__box--check {
      &::after,
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 2px;
        background-color: $basic-green;
      }

      &::after {
        width: 17px;
        margin-top: -1px;
        margin-left: -5px;
        transform: rotate(-48deg);
      }

      &::before {
        width: 10px;
        margin-top: 1px;
        margin-left: -10px;
        transform: rotate(46deg);
      }
    }
  }

  &:hover,
  &:focus {
    & + .form__box--check {
      border: 2px solid $basic-green;
    }
  }

  &:disabled {
    & + .form__box--check {
      opacity: 0.3;

      &::after,
      &::before {
        background-color: opacify($basic-green, 1);
      }
    }

    & ~ .form__description--check {
      opacity: 0.3;
    }
  }
}

.form__box {
  position: absolute;
  border: 2px solid $special-grey-dark;

  &--radio {
    top: -7px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  &--check {
    top: -7px;
    width: 38px;
    height: 38px;
  }
}

.form__description {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  &--radio,
  &--check {
    width: 156px;
    margin-left: 61px;
  }
}

.form__input {
  width: 100%;
  height: 52px;
  padding: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: $special-grey-dark;
  border: none;
  box-shadow: inset 0px -2px 0px $basic-black;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0px -2px 0px $basic-green;
  }

  &::placeholder {
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: $special-grey-adv;
  }

  &--comment {
    height: 142px;
    padding: 16px 17px;
    border: 2px solid $special-grey-dark;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $basic-green;
      box-shadow: none;
    }
  }
}

.form__img {
  position: absolute;
  top: 12px;
  right: 3px;
  fill: $special-grey-adv;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__text {
  order: 0;
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  order: 1;
}
