.logo {
  display: block;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--header {
    width: 85.97px;
    height: 34.92px;
    margin-bottom: 4px;
    @include push--auto;

    @media (min-width: $tablet-width) {
      width: 113.01px;
      height: 45.96px;
    }

    @media (min-width: $desktop-width) {
      width: 149px;
      height: 72px;
    }
  }

  &--footer {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 128px;
    height: 23.42px;

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

// .logo__img {
//   &--mobile {
//     @media (min-width: $tablet-width) {
//       display: none;
//     }
//   }

//   &--tablet {
//     display: none;

//     @media (min-width: $tablet-width) {
//       display: block;
//     }
//   }
// }
