.page-footer {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 143px;

    &--index {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: min-content 143px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
  }
}

.page-footer__contacts {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    align-self: center;
    padding-left: 50px;
  }
}
